/* CSS files add styling rules to your content */

/* =========================== ======= Basic Area ======  =========================== */ 
body {
  margin: 2em;
  background-color:black;
  /* color: #FFFDD0,#F5EE92,#ffe5b4, #55CEFF*/
}

h1 {
  font-style: italic;
  font-family: 'Playfair Display', serif;
  color: blueviolet;
  /*#373fff*/
  font-size:40px;
}


/* ------------- Navigation Bar ------------- */
.topnav{
	background-color:#FFFDD0;
  /*skyblue,  #41A950*/
	margin-left: auto;
	margin-right: auto;
	width: 100%;
  height: 100%;
  text-align:center;
}

.topnav a:link {
	float: none;
	color: black;
	text-align:center;
  /* top right bottom left*/
	padding: 5px 90px 5px 90px;
	text-decoration: none;
	font-size: 25px;
}

.topnav a:visited{
	float: none;
	color: black;
	text-align:center;
  /* top right bottom left*/
	padding: 5px 90px 5px 90px;
	text-decoration: none;
	font-size: 25px;
}

.topnav a:hover {
	background-color: #ff9248;
  /*mediumpurple*/
	color:white;
  text-decoration: underline;
}

.topnav a:active {
	background-color: #ff9248;
  /*mediumpurple*/
	color:white;
  text-decoration: underline;
}

/* ------------- Footer ------------- */
.mainFooter {
	color: white;
	text-align: center;
	font-size: 18px;
	width: 50%;
	height: 20%;
	margin-left: 25%;
  margin-right: 50%
}

.mainFooter a:link {
  color: skyblue;
  background-color: transparent;
  text-decoration: underline;
}

.mainFooter a:visited {
  color: skyblue;
  background-color: transparent;
  text-decoration: underline;
}

.mainFooter a:hover {
  color: purple;
  /*blueviolet*/
  background-color: transparent;
  text-decoration: underline;
}

.mainFooter a:active {
  color: purple ;
  /*blue*/
  background-color: transparent;
  text-decoration: underline;
}


/* =========================== ======= Home Area ======  =========================== */ 
/* ------------- Message Box ------------- */
.message {
  width:100%; 
  height:200px; 
  color:red;
  font-family: 'Oswald', sans-serif;
}

/* ------------- Table for artwork in home & artwork ------------- */
.atable{
  width:auto;
  height:auto;
  font-family: 'Concert One', cursive;
}

.atable table, tr, th {
  border: 5px solid lightblue;
  border-collapse: collapse;
}

.atable tr, th {
  padding: 5px;
  text-align: center;  
  font-size:25px;
}

.atable a:link {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.atable a:visited {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.atable a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

.atable a:active {
  color: mediumpurple;
  background-color: transparent;
  text-decoration: underline;
}

/* ------------- Table for video------------- */
.video {
  width:100%; 
}

/* =========================== ======= About Area ======  =========================== */ 

#LKimg tr,td{
  border: 5px solid none;
  border-collapse: collapse;
  text-align:center;
}

#header1{
 font-family: 'Kurale', serif;
 text-decoration: underline; 
 font-size:30px;
 color:white;
}

#header2{
 font-family: 'Kurale', serif;
 text-decoration: underline; 
 font-size:30px;
 color:white;
}

#header3{
 font-family: 'Kurale', serif;
 text-decoration: underline; 
 font-size:30px;
 color:white;
}


#header4{
 font-family: 'Kurale', serif;
 text-decoration: underline; 
 font-size:30px;
 color:white;
}

#header5{
 font-family: 'Kurale', serif;
 text-decoration: underline; 
 font-size:30px;
 color:white;
}

.content1{
  font-size:30px;
  color:white;
   font-family: 'Concert One', cursive;
}

/*link at first, visted one,  hover mouse on, active mouse click */
.content2{
  font-size:20px;
  font-family: 'Concert One', cursive;
}

.content2 a:link {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.content2 a:visited {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.content2 a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

.content2 a:active {
  color: mediumpurple;
  background-color: transparent;
  text-decoration: underline;
}

.info{
  color: white;
  font-size:20px;
  font-family: 'Lato', sans-serif;
}

/* =========================== ======= Contact Area ======  =========================== */ 
/* ------------- All Contact Box ------------- */
.contact1 { 
	 background-color: lightblue;
  /*skyblue, #93f086*/
	 border-radius: 5px; 
	 -moz-border-radius: 5px; 
	 -webkit-border-radius: 5px;  
	 padding: 3% 5%;  
	 margin-bottom: 3%; 
	 width: 65%;
	 height: 20%;
	 margin-left: auto;
	 margin-right: auto;
	 text-align: center;
	 font-size: 20px;
   font-family: 'Oswald', sans-serif;
}

/* ------------- Feedback ------------- */
 .form1 { 
	 background-color: lightblue;
	 border-radius: 5px; 
	 -moz-border-radius: 5px; 
	 -webkit-border-radius: 5px;  
	 padding: 3% 5%;  
	 margin-bottom: 3%; 
	 width: 65%;
	 height: 20%;
	 margin-left: auto;
	 margin-right: auto;
	 text-align: center;
	 font-size: 20px;
   font-family: 'Oswald', sans-serif;
}

.textbox{
  width: 45%;
  height: 100%;
}

.field{
  text-align:center;
}

.submit{
  background-color: white;
  margin-left: auto;
	margin-right: auto;
	width: 15%;
  height: 100%;
  text-align:center;
  font-size: 20px;
}

.submit a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.submit a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.submit a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

.submit a:active {
  color: mediumpurple;
  background-color: transparent;
  text-decoration: underline;
}
/* =========================== ======= Each Artwork piece Area ======  =========================== */ 

/* ------------- All Contact Box ------------- */
.art{ 
	 background-color: none;
	 border-radius: 5px; 
	 -moz-border-radius: 5px; 
	 -webkit-border-radius: 5px;  
	 padding: 3% 5%;  
	 margin-bottom: 3%; 
	 width: auto;
	 height: auto;
	 margin-left: auto;
	 margin-right: auto;
	 text-align: center;
	 font-size: 20px;
}

.des { 
	 background-color: lightblue;
	 border-radius: 5px; 
	 -moz-border-radius: 5px; 
	 -webkit-border-radius: 5px;  
	 padding: 3% 5%;  
	 margin-bottom: 3%; 
	 width: 40%;
	 height: 20%;
	 margin-left: auto;
	 margin-right: auto;
	 text-align: left;
	 font-size: 20px;
   font-family: 'Oswald', sans-serif;
}