/* CSS files add styling rules to your content */

/* =========================== ======= Basic Area ======  =========================== */ 
body {
  margin: 2em;
  /*background-image:url("https://cdn.glitch.com/6bb75782-60a3-449b-9ff6-b3ef63420ad4%2FSpace%20wallpaper%20dump.jpg?v=1605360557262");*/
  /*background-image:url("https://cdn.glitch.com/6bb75782-60a3-449b-9ff6-b3ef63420ad4%2FDark%20Green%20Printed%20Old%20Master%20White%20Little%20Green%20Texture%20Backdrop.jpg?v=1605374950102");*/
  background-image:url("https://cdn.glitch.com/6bb75782-60a3-449b-9ff6-b3ef63420ad4%2FBlack%20Abstract%20Textured%20Backdrop%20for%20Photo%20Booth%20D180.png?v=1605374956145");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color:black;
  /* color: #FFFDD0,#F5EE92,#ffe5b4, #55CEFF*/
}

h1 {
  font-style: italic;
  font-family: 'Playfair Display', serif;
  color: blueviolet;
  /*#373fff*/
  font-size:40px;
}


/* ------------- Navigation Bar ------------- */
.topnav{
	background-color:#FFFDD0;
  /*skyblue,  #41A950*/
	margin-left: auto;
	margin-right: auto;
	width: 100%;
  height: 100%;
  text-align:center;
}

.topnav a:link {
	float: none;
	color: black;
	text-align:center;
  /* top right bottom left*/
	padding: 5px 90px 5px 90px;
	text-decoration: none;
	font-size: 25px;
}

.topnav a:visited{
	float: none;
	color: black;
	text-align:center;
  /* top right bottom left*/
	padding: 5px 90px 5px 90px;
	text-decoration: none;
	font-size: 25px;
}

.topnav a:hover {
	background-color: #ff9248;
  /*mediumpurple*/
	color:white;
  text-decoration: underline;
}

.topnav a:active {
	background-color: #ff9248;
  /*mediumpurple*/
	color:white;
  text-decoration: underline;
}

/* ------------- Footer ------------- */
.mainFooter {
	color: white;
	text-align: center;
	font-size: 18px;
	width: 50%;
	height: 20%;
	margin-left: 25%;
  margin-right: 50%
}

.mainFooter a:link {
  color: skyblue;
  background-color: transparent;
  text-decoration: underline;
}

.mainFooter a:visited {
  color: skyblue;
  background-color: transparent;
  text-decoration: underline;
}

.mainFooter a:hover {
  color: purple;
  /*blueviolet*/
  background-color: transparent;
  text-decoration: underline;
}

.mainFooter a:active {
  color: purple ;
  /*blue*/
  background-color: transparent;
  text-decoration: underline;
}


/* =========================== ======= Home Area ======  =========================== */ 
/* ------------- Message Box ------------- */
.message {
  width:100%; 
  height:100%; 
  color:red;
  font-family: 'Oswald', sans-serif;
  font-size:50px;
  border: 5px solid lightblue;
  border-collapse: collapse;
  text-align:center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.info {
  color:white;
  font-family: 'Oswald', sans-serif;
  font-size:20px;
} 

/* ------------- Table for artwork in home & artwork ------------- */

.atable{
  width:100%;
  height:100%;
  font-family: 'Concert One', cursive;
  text-align:center;
  float: center;
}

.atable a:link {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.atable a:visited {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.atable a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

.atable a:active {
  color: mediumpurple;
  background-color: transparent;
  text-decoration: underline;
}

/* box */
* {
  box-sizing: border-box;
}

.box0 {
  float: left;
  /*width: 33.33%;*/
  height:380px;
}

.box1 {
  float: left;
  /*width: 33.33%;*/
  height:550px;
}  

/* thing will not go the left and right*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.threecol {
  width:33.33%;
  background-color: none;
  color: blue;
  font-size:25px;
  border: 5px solid lightblue;
}

/* ------------- Table for video------------- */
.box2 {
  float: left;
  /*width: 33.33%;*/
  height:500px;
  text-align:center;
}

.twocol {
  width:50%;
  background-color: none;
  border: 5px solid lightblue;
  text-align:center;
  color:white;
  padding: center;
  font-size:20px;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width:800px) {
  .video, .atable, .twocol, .threecol{
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

/* =========================== ======= About Area ======  =========================== */ 

.threecolone {
  width:20%;
  height:20%;
  background-color: none;
  color: blue;
  font-size:25px;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align:left;
}

.threecoltwo {
  width:36%;
  background-color: none;
  color: blue;
  font-size:25px;
}

#header1{
 font-family: 'Kurale', serif;
 text-decoration: underline; 
 font-size:30px;
 color:white;
}

#header2{
 font-family: 'Kurale', serif;
 text-decoration: underline; 
 font-size:30px;
 color:white;
}

#header3{
 font-family: 'Kurale', serif;
 text-decoration: underline; 
 font-size:30px;
 color:white;
}


#header4{
 font-family: 'Kurale', serif;
 text-decoration: underline; 
 font-size:30px;
 color:white;
}

#header5{
 font-family: 'Kurale', serif;
 text-decoration: underline; 
 font-size:30px;
 color:white;
}

.content1{
  font-size:30px;
  color:white;
   font-family: 'Concert One', cursive;
}

/*link at first, visted one,  hover mouse on, active mouse click */
.content2{
  font-size:20px;
  font-family: 'Concert One', cursive;
}

.content2 a:link {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.content2 a:visited {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.content2 a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

.content2 a:active {
  color: mediumpurple;
  background-color: transparent;
  text-decoration: underline;
}

.info{
  color: white;
  font-size:20px;
  font-family: 'Lato', sans-serif;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width:800px) {
  .threecolone, .threecoltwo{
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

/* =========================== ======= Contact Area ======  =========================== */ 
/* ------------- All Contact Box ------------- */
.contact1 { 
	 background-color: lightblue;
  /*skyblue, #93f086*/
	 border-radius: 5px; 
	 -moz-border-radius: 5px; 
	 -webkit-border-radius: 5px;  
	 padding: 3% 5%;  
	 margin-bottom: 3%; 
	 width: 100%;
	 height: 20%;
	 margin-left: auto;
	 margin-right: auto;
	 text-align: center;
	 font-size: 20px;
   font-family: 'Oswald', sans-serif;
}

/* ------------- Feedback ------------- */
 .form1 { 
	 background-color: lightblue;
	 border-radius: 5px; 
	 -moz-border-radius: 5px; 
	 -webkit-border-radius: 5px;  
	 padding: 3% 5%;  
	 margin-bottom: 3%; 
	 width: 100%;
	 height: 20%;
	 margin-left: auto;
	 margin-right: auto;
	 text-align: center;
	 font-size: 20px;
   font-family: 'Oswald', sans-serif;
}

.textbox{
  width: auto;
  height: 100%;
}

.field{
  text-align:center;
}

.submit{
  background-color: white;
  margin-left: auto;
	margin-right: auto;
	width: 15%;
  height: 100%;
  text-align:center;
  font-size: 20px;
}

.submit a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.submit a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.submit a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

.submit a:active {
  color: mediumpurple;
  background-color: transparent;
  text-decoration: underline;
}

/* =========================== ======= Each Artwork piece Area ======  =========================== */ 

/* ------------- All Contact Box ------------- */
.art{ 
	 background-color: none;
	 border-radius: 5px; 
	 -moz-border-radius: 5px; 
	 -webkit-border-radius: 5px;  
	 padding: 3% 5%;  
	 margin-bottom: 3%; 
	 width: auto;
	 height: auto;
	 margin-left: auto;
	 margin-right: auto;
	 text-align: center;
	 font-size: 20px;
}

table.word{
  margin-left: auto; 
  margin-right: auto;
  width:80%;
  color:white;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

th, td {
  border-collapse: collapse;
  border-bottom: 5px solid lightblue;
  border-top: 5px solid lightblue;
  border-right: 5px solid lightblue;
  border-left: 5px solid lightblue;
}

