/* CSS files add styling rules to your content */

/* =========================== ======= Basic Area ======  =========================== */ 
body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color:#FFFDD0;
}

h1 {
  font-style: italic;
  color: #373fff;
}

/*Navigation Bar*/
.topnav{
	background-color: skyblue;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.topnav a {
	float: none;
	color: black;
	text-align:center;
	padding: 35px 80px;
	text-decoration: none;
	font-size: 25px;
}

.topnav a:hover {
	background-color: mediumpurple;
	color:white;
  padding: 5px 80px;
  text-decoration: underline;
}

/* Footer*/
.mainFooter {
	color: blue;
	text-align: center;
	font-size: 20px;
	width: 50%;
	height: 20%;
	margin-left: 25%;
  margin-right: 50%
}

.mainFooter  a {
	color: black;
}

.mainFooter  a:hover {
	color: blueviolet;
}

/* =========================== ======= testassignment ======  =========================== */ 
/* Button*/
.submit{
  background-color:grey;
  margin-left: auto;
	margin-right: auto;
	width: 15%;
  height: 100%;
  text-align:center;
}

.submit a {
	float: none;
	color: black;
  text-decoration: none;
	font-size: 15px;
}

.submit a:hover {
  text-decoration: underline;
}

/*Img*/
#img{
  text-align:center;
}

/* =========================== ======= slideshow ======  =========================== */ 
* {box-sizing:border-box}

/* Slideshow container */
.slideshow {
  background-image:url("https://cdn.glitch.com/6bb75782-60a3-449b-9ff6-b3ef63420ad4%2FDark%20Green%20Printed%20Old%20Master%20White%20Little%20Green%20Texture%20Backdrop.jpg?v=1605374950102");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color:black;
  max-width: 900px;
  max-height: 500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.slide {
  display: none;
  text-align:center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}